@{
    ViewBag.Title = "خطا-500";
}
<div class="row">
     <div class="col-sm-6 col-md-6 col-md-offset-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-hand-pointer-o fa-lg"></i>&#160Error-500</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger text-center">
                    خطای سیستمی رخ داده است لطفا با پشتیبان تماس حاصل فرمائید</div>
                    <a href="@Url.Action("Login", "Account")" class="btn btn-default">خروج</a>
            </div>
        </div>
    </div>
</div>
